<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.pelom.android.hanoigrossi" android:versionName="1.0" android:versionCode="032011174">
	<uses-sdk android:minSdkVersion="4"></uses-sdk>


	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:label="@string/app_name"
			android:screenOrientation="landscape" 
			android:configChanges="orientation|keyboardHidden" android:name=".activity.HanoigrossiActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:configChanges="orientation|keyboardHidden" android:name=".activity.ListaFaseActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:name=".activity.HanoigrossiSplash">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
				<category android:name="android.intent.category.LAUNCHER"></category>
			</intent-filter>
		</activity>
		<activity android:name=".activity.HanoigrossiMenu"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:name=".activity.HanoigrossiCreditos">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:name=".activity.HanoigrossiAjuda">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
	</application>
</manifest>